/* start index styles */

/*
1.index styles
2.universal styles
3.common styles
4.content styles
5.mediaquery styles
*/

/* end index styles */

/* start universal styles */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.42857143;
  color: #777;
}

/* end universal styles */

/* start common styles */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.pd-y {
  padding: 120px 0;
}

.responsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end common styles */

/* start content styles */
.aside__left__responsive {
  width: 7%;
}

.aside {
  display: flex;
  align-items: center;
  border: 1px solid;
  margin-bottom: 15px;
}

.bio {
  height: 100px;
  border: 1px solid;
}

.useridposts li,
.showpost {
  border: 1px solid;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.seeallposts {
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}

.postshow,
.postcomment,
.showpostcomment {
  border: 1px solid;
}

.flex {
  display: flex;
  align-items: center;
}

/* end content styles */

/* start mediaquery styles */

/* end mediaquery styles */
